# Packed patch archives
patch-*.MPQ
patch-*.mpq

# But save default-packed patch with all contents for downloading
!patch-Y.MPQ
!patch-Z.MPQ
!patch-y NAOHD.mpq

# Local environment variables
.env

.mypy_cache/
uv.lock
